body {
    background-color: #ecf0f1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
}

h1 {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 28px;
    color: #2a4f68;
    text-align: center;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 100px;
    margin-left: 100px;
    width: 524px;
}
h2 {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 20px;
    color: #2980b9;
    text-align: center;
}

p, li {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #2c3e50;
    text-align: center;
    margin-top: 500px;
}

.calendar {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px; 
    height: 350px;
    margin-top: 10px; 
    margin-left: 100px; 
}

.event {
    width: 500px; 
    height: 350px;
    margin-top: 10px; 
    margin-right: 100px; 
    border: 1px solid #ccc;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.month {
    text-align: left;
    font-size: 20px;
    flex-grow: 1;
}

/* {text-align: left;
text-align: center;
border: 1px solid #ccc;} */

.previous-btn,
.next-btn {
    background-color: #cccbcb;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-size: 20px;
}

.day {
    border: 1px solid #dad7d7;
    padding: 1px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #f0f0f0;
}