 body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  main {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-left: 250px;
    margin-top: 100px;
    margin-right: 250px;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .flip-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    transition: transform 0.6s;
    margin: 0 10px;
    margin-bottom: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-front {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
    background-color: #ddd;
    transform: rotateY(180deg);
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 200px;
    height: calc(100vh - 40px);
    z-index: 1;
    overflow-y: auto;
  }

  #left-nav {
    background-color: #ffffff;
    top: 150px;
    left: 0;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }

  #right-nav {
    background-color: #ffffff;
    top: 150px;
    right: 0;
    border-left: 1px solid #ddd;
    height: calc(100vh - 200px);
    font-size: 25px;
    overflow-y: auto;
  }

  #right-nav ul {
    list-style-type: none;
    padding: 0;
  }

  #right-nav li {
    margin-bottom: 10px;
  }

  .small-text {
    font-size: 14px;
  }

/* check this  */
   #announcements {
    padding-top: 50px;
    text-align: center;
    position: relative;
    font-size: 30px;
  }

  #right-nav img {
    max-width: 150px;
    max-height: 200px;
    height: auto;
    border-radius: 5px;
}

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  nav ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
  }
  
  footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  } 